# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production build outputs
dist/
frontend/dist/

# Local Environment Variables
.env
backend/.env
frontend/.env

# Logs and system caches
*.log
.DS_Store
.vscode/
.idea/
.db/

# Local database
backend/data/
